/*.sidebar{
    width: 220px;
    min-height: 100vh;
    color: white;
    background-color: #1e293b;
    padding: 20px; 
    display: flex;
    flex-direction: column;
}

.sidebar h2{
    margin-bottom: 30px;
}

.sidebar a{
    padding: 12px;
    border-radius: 8px;
    cursor:pointer;
}
.sidebar a.active{
    background-color: #475569;
    border-radius: 8px;
}
.sidebar a:hover{
    background-color: #334155;
}
*/

.noi-dung{
    flex: 1;
    padding: 20px;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    display: flex;
    background: #ed9dc0;
    color: rgb(14, 2, 2);
    margin-left: auto;
}
button:hover{
    background: #f879b6;
}
.cards{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.tong-thu, .tong-chi, .so-du, .ti-le{ 
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}
.tong-thu{
    background: #FDF2F8;
    color: #E11D8A;
}
.tong-chi{
    background: #FDF2F8;
    color: #BE185D;
}
.so-du{
    background: #FDF2F8;
    color: #C026D3;
}
.ti-le{
    background: #FDF2F8;
    color: #EC4899;
}
h3{
    font-size: 15px;
    color: rgb(14, 2, 2);
}
.tong-thu p, .tong-chi p, .so-du p, .ti-le p{
    font-size: 25px;
}


.khung-bieu-do{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bieu-do{
    flex: 1;
    background-color: white;
    height: 350px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.giao-dich-gan-day{
    background-color: white;
    height: 350px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}